{% extends ('layout.html.twig') %}
 {% block title %}{{ parent() }} Home{% endblock %}
{% block main %}
    <div class="marge-bottom marge-top text-white DIV container">
        <div class="TRANS marge-bottom marge-top">
            <div class="row container text-left text-white">
                <div class="marge-bottom col-md-4 offset-md-8">Date du jour : {{ date }}</div>
                <div class="marge-bottom col-md-4 offset-md-8">Paticipant : {{ user.prenom }}</div>
            </div>

            <div class="marge-bottom row container"><h3>Filtrer les sorties</h3></div>
            <form action="{{ path('home') }} " method="get">

                <div class="row">

                    <div class="marge-bottom col-6">
                        <div class="marge-bottom row">
                            <div class="col-3"><label for="">Site</label></div>
                            <div class="col-9"><select class="col-12" id="pet-select" name="site">
                                    <option value="">Tous les sites</option>
                                    {% for  site  in sites %}
                                        <option value="{{ site.id }}">{{ site.nomSite }}</option>
                                    {% endfor %}
                                </select></div>
                        </div>
                        <div class="row marge-bottom">
                            <div class="col-3"><label for="">Le nom de la sortie contient</label></div>
                            <div class="col-9"><input class="col-12" name="like" type="text"></div>
                        </div>
                        <div class="row">
                            <div class="col-1"><label for="">Entre</label></div>
                            <div class="col-5"><input class="col-12" name="dateDebut" type="date"></div>
                            <div class="col-1"><label for="">et</label></div>
                            <div class="col-5"><input class="col-12" name="dateFin" type="date"></div>
                        </div>
                    </div>
                    <div class="marge-bottom col-4">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="organisateur" name="organisateur">
                            <label class="custom-control-label" for="organisateur">Sortie dont je suis
                                l'organisateur</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="inscrit" name="inscrit">
                            <label class="custom-control-label" for="inscrit">Sortie auxquelles je suis
                                inscrit(e).</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="pasInscrit" name="pasInscrit">
                            <label class="custom-control-label" for="pasInscrit">Sortie auxquelles je ne suis pas
                                inscrit(e).</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="passees" name="passees">
                            <label class="custom-control-label" for="passees">Sortie passées.</label>
                        </div>
                    </div>
                    <div class="col-2"><input type="submit" class="btn btn-outline-primary " value="Rechercher"></div>
                </div>
            </form>

            <div id="table-wrapper">
                <div id="table-scroll">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Nom de la sortie</th>
                            <th scope="col">Date de la Sortie</th>
                            <th scope="col">Clôture</th>
                            <th scope="col">inscrits/places</th>
                            <th scope="col">Etat</th>
                            <th scope="col">inscrit</th>
                            <th scope="col">Organisateur</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for  sortie in sorties %}
                            <tr>
                                <th scope="row">{{ sortie.nom }}</th>
                                <td>{{ sortie.dateDebut |date('d/m/Y') }}</td>
                                <td>{{ sortie.dateCloture |date('d/m/Y') }}</td>
                                <td>{{ sortie.sortieIncription |length }}/{{ sortie.maxInscriptions }}</td>
                                <td>{{ sortie.sortieEtat.libelle }}</td>
                                <td>{% for inst in sortie.sortieIncription %}
                                        {% if sortie.id == inst.sortie.id and inst.paritcipant==(app.user) %}

                                            <h4 class="text-center"><strong> X</strong></h4>
                                            <a href="{{ path('desisterSortie',{'id':sortie.id}) }}"> Se désister</a>
                                        {% else %}
                                            <strong>Vous n'êtes pas
                                            inscris. <br>{% if sortie.sortieIncription |length < sortie.maxInscriptions and sortie.dateCloture < "now"|date()%}
                                        {% else %}<u><a href="{{ path('inscriptionSortie',{'id':sortie.id}) }}">Inscrivez vous </a></u></strong>{% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if (sortie.sortieIncription |length) == ins and not sortie.organisateur==(app.user).id %}
                                        <strong>Vous n'êtes pas
                                        inscris. <br>{% if sortie.sortieIncription |length < sortie.maxInscriptions and sortie.dateCloture < "now"|date()%}
                                    {% else %}<u><a href="{{ path('inscriptionSortie',{'id':sortie.id}) }}">Inscrivez vous </a></u></strong>{% endif %}
                                    {% endif %}{% if sortie.organisateur==(app.user).id %} <h4 class="text-center"><strong> X <br></strong></h4><br> vous êtes l'organisteur{% endif %}</td>
                                <td><a href="{{ path('profilParticipant',{'id':sortie.organisateur}) }}">{{ sortie.sortieParticipant.pseudo }}</a> </td>
                                <td><a href="{{ path('afficheSortie',{'id':sortie.id}) }}">Afficher </a><br>
                                    {% if sortie.organisateur==(app.User.id) %}
                                        <a href="{{ path('modifieSortie',{'id':sortie.id}) }}"> Modifer</a><br>
                                        <a href="{{ path('annuleSortie',{'id':sortie.id}) }}"> Annuler</a>
                                    {% endif %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <a href="{{ path('createSortie') }}" class="btn btn-outline-primary">Créer une sortie</a>
    </div>

{% endblock %}