{% extends ('layout.html.twig') %}
 {% block title %}{{ parent() }} Afficher Sortie{% endblock %}
{% block main %}
    <div class="marge-bottom marge-top DIV text-white container">

        <div CLASS="marge-bottom row">
            <div class="col-2"><label for="">Nom de la sortie :</label></div>
            <div class="col-2">{{ sortie.nom }}</div>
            <div class="col-2  offset-md-1">Ville organisatrice :</div>
            <div class="col-2">{{ sortie.sortieSite.nomSite }}</div>
        </div>
        <div CLASS="marge-bottom row">
            <div class="col-2">Date et heure de la sortie :</div>
            <div class="col-2">{{ sortie.dateDebut |date('d/m/Y') }}</div>
            <div class="col-2  offset-md-1">Lieu :</div>
            <div class="col-2">{{ sortie.sortie.nomLieu }}</div>
        </div>
        <div CLASS="marge-bottom row">
            <div class="col-2">Date limite de l'inscription</div>
            <div class="col-2">{{ sortie.dateCloture |date('d/m/Y') }}</div>
            <div class="col-2  offset-md-1">Rue</div>
            <div class="col-2">{{ sortie.sortie.rue }}</div>
        </div>
        <div CLASS="marge-bottom row">
            <div class="col-2">Nombre de places :</div>
            <div class="col-2">{{ sortie.maxInscriptions }}</div>
            <div class="col-2  offset-md-1" ><label for="">Code postal :</label></div>
            <div class="col-2">{{ sortie.sortie.lieux.codePostal }}</div>
        </div>
        <div CLASS="marge-bottom row">
            <div class="col-2">Durée :</div>
            <div class="col-2">{{ sortie.duree }}</div>
            <div class="col-2  offset-md-1">Latitude :</div>
            <div class="col-2">{{ sortie.sortie.latitude }}</div>
        </div>
        <div CLASS="marge-bottom row">
            <div class="col-2">Description et info :</div>
            <div class="col-2">{{ sortie.infosescriptions }}</div>
            <div class="col-2  offset-md-1">Longitude :</div>
            <div class="col-2">{{ sortie.sortie.longitude }}</div>
        </div>


   <div class="row"> <div id="table-wrapper" class="col-6">
           <div id="table-scroll">
               <table class="table table-bordered table-striped">
                   <thead>
                   <tr>
                       <th scope="col">Pseudo</th>
                       <th scope="col">Nom</th>

                   </tr>
                   </thead>
                   <tbody>
                   {% for  sort in inscrit %}
                       <tr>{% if sort.sortie.id == sortie.id %}
                               <th scope="row">{{ sort.paritcipant.pseudo }}</th>
                           {% endif %}
                           {% if sort.sortie.id == sortie.id %}
                               <td>
                                   <h4 class="text-center"><strong>{{ sort.paritcipant.nom }}</strong></h4>
                               </td> {% endif %}
                       </tr>
                   {% endfor %}
                   </tbody>
               </table>
           </div>
       </div>
       <div class="col-2 offset-md-2">
           <button class="btn btn-outline-primary col-12" type="reset"><a href="{{ path('home') }}">Retour</a>
           </button>
       </div></div>
    </div>

{% endblock %}