{% extends ('layout.html.twig') %}
 {% block title %}{{ parent() }} Annuler Sortie{% endblock %}
{% block main %}
    <div class="marge-bottom marge-top DIV text-white container">
        <h4 class="text-center mb-4">Annuler une sortie</h4>
        <div CLASS="marge-bottom row">
            <div class="col-2"><label for="">Nom de la sortie :</label></div>
            <div class="col-2">{{ sortie.nom }}</div>
            <div class="col-2  offset-md-1">Ville organissation :</div>
            <div class="col-2">{{ sortie.sortieSite.nomSite }}</div>
        </div>
        <div CLASS="marge-bottom row">
            <div class="col-2">Date et heure de la sortie :</div>
            <div class="col-2">{{ sortie.dateDebut |date('d/m/Y') }}</div>
            <div class="col-2  offset-md-1">Lieu :</div>
            <div class="col-2">{{ sortie.sortie.rue }}</div>
        </div>
        <div>
            {{ form_start(annulerSortieForm) }}
            <div class="row marge-bottom">
                <div class="col-2"><label for=""><u>Motif</u></label></div>
                <div class="col-3">{{ form_widget(annulerSortieForm.motif) }}</div>
            </div>
        </div>
    <div class="row marge-bottom">
        <div class="col-2 offset-md-2">
            <button class="btn btn-outline-primary col-12" type="reset"><a href="{{ path('home') }}">Retour</a></button>
        </div>
        <div class="col-2 offset-md-2">
            {{ form_widget(annulerSortieForm.Enregistrer) }}
        </div>
        </div>
    </div>
    {{ form_end(annulerSortieForm) }}
{% endblock %}