{% extends ('layout.html.twig') %}
{% block title %}Create sortie{% endblock %}

{% block main %}
    <div class="container text-white DIV marge-bottom marge-top">
        {{ form_start(sortieForm) }}
        <div class="row marge-bottom marge-top">
            <div class="col-2"><label for=""><u>Nom de la sortie</u></label></div>
            <div class="col-3">{{ form_widget(sortieForm.nom) }}</div>
            <div class="col-2 offset-md-1 "><label for=""><u>Ville organisatrice</u></label></div>
            <div class="col-3"><label for="">{{ site }}</label></div>

        </div>

        <div class="row marge-bottom">
            <div class="col-2"><label for=""><u>Date de debut de la sortie</u></label></div>
            <div class="col-3">{{ form_widget(sortieForm.dateDebut) }}</div>
            <div class=" col-2 offset-md-1"><label for=""><u>Ville</u></label></div>
            <div class="col-3"><select id="ville"name="ville">
                    <option value="">--Choix d'une ville--</option>
                    {%for ville in villes%}
                    <option value="{{ ville.id }}">{{ ville.getNomVille() }}</option>
                    {% endfor %}
                </select></div>

        </div>

        <div class="row marge-bottom">
            <div class="col-2"><label for=""><u>Durée de la sortie</u></label></div>
            <div class="col-3">{{ form_widget(sortieForm.duree) }}</div>
            <div class="col-2 offset-md-1"><label for="">Lieux</label></div>
            <div class="col-3">{{ form_widget(sortieForm.sortie) }}</div>
        </div>

        <div class="row marge-bottom">
            <div class="col-2"><label for=""><u>Date de cloturaion</u></label></div>
            <div class="col-3"> {{ form_widget(sortieForm.dateCloture) }}</div>
            <div><label for=""></label></div>
            <div></div>
        </div>

        <div class="row marge-bottom">
            <div class="col-2"><label for=""><u>Nom max d'inscription</u></label></div>
            <div class="col-3">{{ form_widget(sortieForm.maxInscriptions) }}</div>
            <div><label for=""></label></div>
            <div></div>
        </div>

        <div class="row marge-bottom">
            <div class="col-2 "><label for=""><u>Description de la sortie</u></label></div>
            <div class="col-3">{{ form_widget(sortieForm.infosescriptions) }}</div>
            <div><label for=""></label></div>
            <div></div>
        </div>


        <div class="row marge-bottom">
            <div class="col-2 offset-md-2">
               {{ form_widget(sortieForm.Enregistrer) }}
            </div>
            <div class="offset-md-2 col2 ">
                <button class="btn btn-outline-primary col-12" name="publier" type="submit">Publier la sortie</button>
            </div>
            <div class="col-2 offset-md-2">
                <button class="btn btn-outline-primary col-12" type="reset"><a href="{{ path('home') }}">Annuler</a></button>
            </div>
        </div>
        {{ form_end(sortieForm) }}</div>
{% endblock %}
