{% extends ('layout.html.twig') %}
 {% block title %}{{ parent() }} Modifier Sortie{% endblock %}
{% block main %}
 <div class="container text-white DIV marge-bottom marge-top">
  {{ form_start(modifierSortieForm) }}
  <div class="row marge-bottom marge-top">
   <div class="col-2"><label for=""><u>Nom de la sortie</u></label></div>
   <div class="col-3">{{ form_widget(modifierSortieForm.nom) }}</div>
   <div class="col-2 offset-md-1 "><label for=""><u>Ville organisatrice</u></label></div>
   <div class="col-3"><label for="">{{ site }}</label></div>

  </div>

  <div class="row marge-bottom">
   <div class="col-2"><label for=""><u>Date de debut de la sortie</u></label></div>
   <div class="col-3">{{ form_widget(modifierSortieForm.dateDebut) }}</div>
   <div class=" col-2 offset-md-1"><label for=""><u>Ville</u></label></div>
   <div class="col-3"><select id="ville"name="ville">
     <option value="">--Choix d'une ville--</option>
     {%for ville in villes%}
      <option value="{{ ville.id }}">{{ ville.getNomVille() }}</option>
     {% endfor %}
    </select></div>

  </div>

  <div class="row marge-bottom">
   <div class="col-2"><label for=""><u>Durée de la sortie</u></label></div>
   <div class="col-3">{{ form_widget(modifierSortieForm.duree) }}</div>
   <div class="col-2 offset-md-1"><label for="">Lieux</label></div>
   <div class="col-3">{{ form_widget(modifierSortieForm.sortie) }}</div>
  </div>

  <div class="row marge-bottom">
   <div class="col-2"><label for=""><u>Date de cloturaion</u></label></div>
   <div class="col-3"> {{ form_widget(modifierSortieForm.dateCloture) }}</div>
   <div><label for=""></label></div>
   <div></div>
  </div>

  <div class="row marge-bottom">
   <div class="col-2"><label for=""><u>Nom max d'instription</u></label></div>
   <div class="col-3">{{ form_widget(modifierSortieForm.maxInscriptions) }}</div>
   <div><label for=""></label></div>
   <div></div>
  </div>

  <div class="row marge-bottom">
   <div class="col-2 "><label for=""><u>Description de la sortie</u></label></div>
   <div class="col-3">{{ form_widget(modifierSortieForm.infosescriptions) }}</div>
   <div><label for=""></label></div>
   <div></div>
  </div>


  <div class="row marge-bottom">{% if  sortie.organisateur==(app.user).id%}
 <div class="col-2 offset-md-1">
  {{ form_widget(modifierSortieForm.Enregistrer) }}
 </div>
 <div class="col-2 offset-md-1">
  {{ form_widget(modifierSortieForm.Supprimer) }}
 </div>
 <div class="col-2 offset-md-1">
  {{ form_widget(modifierSortieForm.Publier) }}
    {{ form_end(modifierSortieForm) }}</div>{% endif %}
   <div class="col-2 offset-md-1">
    <button class="btn btn-outline-primary col-10" type="reset"><a href="{{ path('home') }}">Annuler</a></button>
   </div></div>
{% endblock %}