
<nav class="navbar navbar-expand-lg navbar-light ">

    <a class="nav-link " href="{{ path('home') }}"> <img src="{{ asset('css/image/walking-solid.svg') }}" width="50px"></a>
    <br>
    <h3 class="text-light">Sortie.com</h3>
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse right" id="navbarNav">
        <ul class="navbar-nav ">
            <li class="nav-item active">
                <a class="nav-link text-light" href="{{ path('villes') }}">Ville<span
                            class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-light" href="{{ path('lieux') }}">Sites<span
                            class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-light" href="{{ path('home') }}">Accueil<span
                            class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-light" href="{{ path('profil') }}">Mon profil<span
                            class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-light" href="{{ path('logout') }}">Se déconnecter<span
                            class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>